.foto1 {
   margin-left: 400px;
   width: 450px;
}

h3 {
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   margin-top: 40px;
   flex: 2;
   color: honeydew;
}

p {
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   color: honeydew;
}